body {
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "Noto Sans Japanese", Meiryo, メイリオ, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    letter-spacing: calc(33em / 1000);
}

* {
    /* background-color: #ABB8ED;
    /* background-color: #D6DDFA;
    background-color: #BFAAED;
    background-color: #A2DAEA;
    background-color: #FFE7AE; */
    box-sizing: border-box;
    word-wrap: break-word;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    list-style: none;
}

#top-content {
    background-color: #C2CCF5;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#center-box {
    margin: 0 auto;
    height: 64%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#top-img-container {
    border: #fff solid 8px;
    transform: rotate(-3deg) scale(1);
}

#top-img-container:hover {
    transform: rotate(-2deg) scale(.98);
}

.hover-img {
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.4);
    transition: all .5s;
}

.hover-img:hover {
    box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.4);
}

#top-img {
    height: 100%;
}

#top-box {
    margin: 0 0 0 4rem;
    padding: 2rem;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-name {
    font-size: 5rem;
    margin-bottom: 2rem;
    font-family: 'Dancing Script', cursive;
}

#link-button-container {
    
}

.link-button {
    font-weight: lighter;
    font-size: 2rem;
    margin: 0 0 1rem 0;
    padding: 1rem 3rem;
    color: white;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .7);
}

#torme-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-content {
    /* font-weight: 600; */
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-content h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 3rem;
}

#profile-content h2 small {    
    font-size: 2rem;
}

#profile-content p {
    line-height: 2rem;
    margin-bottom: 1rem;
}

.profile-text {
    margin-bottom: 3rem;
}

.table-container {
    /* border: 1px solid #FFE7AE; */
    padding: 4px;
}

.profile-table {
    /* background-color: #E3ECFD; */
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
    padding: 1rem;
    border-collapse: collapse;
}

.profile-table th {
    vertical-align: top;
    text-align: right;
    border-right: #333 1px solid;
}

.profile-table th, td {
    padding: 0.7rem;
}

.headline {
    background-color: #FF9787;
    color: white;
    font-size: 1.4rem;
    padding: 4rem;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

#sasame-name {
    color: #7E8FD7;
    font-family: 'Shippori Mincho', serif !important;
}

#sasame-name small {
    font-family: 'Dancing Script', cursive;
    /* color: #94A4E3; */
    font-weight: 400;
}

#sasame-content {
    display: flex;
    min-height: 100%;
    background-color: #FAFAFA;
}

.intro-photo {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
}

.intro-photo-inner {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.intro-photo-inner img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: block;
    object-fit: cover;
}

.intro-profile {
    width: 50%;
    padding: 3rem;
}

@media screen and (max-width: 480px) {
    .intro-photo,
    .intro-profile {
        width: 100%;
    }
}

.slider img {
    width: 100%;
}


.slider .slick-slide {
    margin: 0 10px;
}